.carrousel {
  position: relative;
  max-width: 65em;
  width: 90%;
  overflow: hidden;
  margin-inline: auto;
  margin-bottom: 9em;
  &__container {
    width: 300%;
    margin-inline: auto;

    transition: all 0.5s ease;
    transform: translateX(0%);

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__item {
    width: calc(100% / 3);
    scroll-snap-align: center;
  }
  &__image {
    border-radius: 0.5em;

    aspect-ratio: 16/9;
  }

  &__btns {
    padding: 0 0.5em;
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;

    transition: all 0.2s ease-in;
    &:hover {
      transform: scale(1.5);
    }
  }

  &__points {
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;
    bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  &__point {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #000000bb;
    cursor: pointer;

    &--active {
      background-color: #ebebeb;
    }
  }
}
