@use './reset//reset';
@use './pages/header';
@use './pages/home';
@use './pages/info';
@use './pages/prices';
@use './pages/contact';

@use './pages/footer';
.wrapper {
  max-width: 1626px;
  margin-inline: auto;
  // background-color: aqua;
}

.progress {
  position: fixed;
  z-index: 2;
  width: 0%;
  height: 0.3125rem;
  background-color: rgba(8, 166, 228, 1);
}
.top {
  position: fixed;
  width: 3em;
  padding: 0.3em;
  bottom: 9em;
  display: none;

  right: 1em;
  background-color: rgba(8, 166, 228, 1);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.4);
  }
  &--show {
    display: initial;
  }
}

.message {
  font-size: 0.7rem;
  color: red;
}
.input--error {
  border-bottom: 1px solid red;
}
